<div class="container-fluid w-50 shadow mt-5 rounded border p-4 bg">
  <h1>New Group</h1>

  <%= form_with(model: [current_user, group], local: true) do |form| %>
    <% if @group.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

        <ul>
          <% @group.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-outline mb-4 text-light">
      <%= form.label :name, "Name" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <h3>Add Users</h3>
    <%= form.fields_for :group_membership do |f| %>
      <% @users.each do |user| %>
        <div class="field form-outline mb-4 text-light">
          <%= check_box_tag "user_ids[]", user.id, @users %>
          <%= label_tag user.email %>
        </div>
      <% end %>
    <% end %>

    <div class="actions">
      <%= form.submit :submit, class: "mb-2 text-light btn btn-dark mt-3" %>
    </div>
  <% end %>

  <% if @group.persisted? %>
    <h3>Current Members</h3>
    <ul>
      <% @group.users.each do |user| %>
        <li class="m-2">
          <%= user.email %>
          <%= link_to "Remove", remove_member_group_path(@group, user.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-light btn btn-dark" %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= link_to 'Back', groups_path %>
</div>