<div class="container-fluid w-50 shadow mt-5 rounded border p-4 bg">
  <h1><%= @group.name %></h1>

  <%= link_to 'Manage Members', manage_members_group_path(@group) %> |
  <%= link_to 'View Expenses', group_expenses_path(@group) %> |
  <%= link_to 'Edit', edit_group_path(@group) %> |
  <%= link_to 'Back', groups_path %>
</div>