<%= render "shared/navbar" %>

<div class="h-100 mh-100 p-0 w-100 d-flex ms-auto justify-content-center" id="center_container">
  <div class="border-left border-right border-info shadow-sm w-75 d-flex " id="center_bars">
    <%# left sidebar %>
    <div class="position-relative w-25 float-left z-3" id="left_sidebar">
      <div class="text-start overflow-hidden m-2" id="view_links">
        <%= link_to "Dashboard", root_path, class: "d-block text-decoration-none p-2 text-dark" %>
        <%= link_to "Recent Activity", root_path, class: "d-block text-decoration-none p-2 text-dark" %>
        <%= link_to "All Expenses", root_path, class: "d-block text-decoration-none p-2 text-dark" %>
        <div class="header">Groups</div>
        <%# <% current_user.groups.each do |group| %>
        <% @groups.all.each do |group| %>      
          <%= link_to group.name, group %>
        <% end %>
        <div class="border border-secondary">
          <div class="p-2 border border-secondary" style="background-color: #5bc5a7;">Invite friends</div>
          <form class="row d-flex justify-content-center align-items-center">
            <div class="col-lg m-2">
              <input type="email" class="form-control" placeholder="Enter an email"><br>
            </div>
            <button type="button" class="btn btn-md w-75 mb-2 rounded border" style="background-color: #5bc5a7;">Send invite</button>


<%= form_with url: send_invite_path, method: :post do |form| %>
  <div class="field">
    <%= form.label :email, 'Recipient Email' %>
    <%= form.email_field :email, required: true %>
  </div>
  <div class="actions">
    <%= form.submit 'Send Invite' %>
  </div>
<% end %>







          </form>
        </div> 
      </div>
    </div>

    <%# center column %>
    <div class="position-relative mh-auto m-0 w-50 border border-secondary" id="center_column">
      <%= render @expenses %>
    </div>

    <%# right sidebar %>
    <div class="position-relative float-right z-3 w-25 bg-primary" id="right_sidebar" style="margin-right: -201px;">
      right sidebar
    </div>
  </div>
</div>