<!DOCTYPE html>
<html>
  <head>
    <title>SplitWise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "groups.js" %>
  </head>

  <body>
    <% unless current_user && @hide_navbar %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
</html>
